#Some Projects

300974435(Alexandre)_ASS2.zip
300974435(Alexandre)_ASS3.zip
300974435(Alexandre)_ASS4.zip

**/BaseUserCredentials
**/BaseballLibrary
**/BookSolution
**/Calculator
**/CarRentObserver

CarRentObserver.zip

**/ConsoleAppDebbuging
**/DemoCodeFirst
**/DemoDataBinding
**/DemoMethodSyntax_LINQ
**/DemoUserDefinedControl
**/DemoUserDefinedControl - Copia
**/Frederico-Alexandre_Lab06_Sec-002

Frederico-Alexandre_Lab06_Sec-002.zip
**/LoginUserControl
**/MidTerm
**/MyFirstWPFApp
**/RestaurantBillCalculator

dir.txt
**/temp
